@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root {
  --font--principal: 'Inter', sans-serif;
  --bg--cor: #f4f4fc;
  --cor--azul--principal: #0a3871;
  --cor--cinza--alerta: #495057;
  --bg--cinza--botao: #d8dfe8;
  --cor--branco--principal: #ffffff;
  --cor--efeito---hover: #1e88e5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font--principal);
}

body {
  background: var(--bg--cor);
  height: auto;
}

header {
  width: 100%;
  height: 60px;
}

.logoAlura {
  height: 50px;
  padding: 20px 0 0 10px;
}

main {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  max-height: 100vh;
  padding: 40px;
}

.section__area__input {
  width: 1100px;
  padding-top: 50px;
}

.container__input {
  width: 100%;
  height: 80%;
}

.area__input {
  width: 100%;
  height: 100%;
  border: none;
  background: var(--bg--cor);
  color: var(--cor--texto--principal);
  font-size: 1rem;
  cursor: pointer;
  padding: 32px;
  text-align: left;
  outline: none;
  resize: none;
}

.area__input::placeholder {
  color: var(--cor--texto--principal);
}

.sectionn__area__atencao {
  display: flex;
  width: 100%;
  margin: 16px 0;
}

.sectionn__area__atencao img {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.sectionn__area__atencao p {
  color: var(--cor--cinza--alerta);
  font-size: 12px;
}

.section__area__botoes {
  display: flex;
  gap: 24px;
  width: 100%;
  height: 67px;
}

.botao__criptografar {
  width: 50%;
  height: 67px;
  border-radius: 24px;
  background: var(--cor--azul--principal);
  font-size: 16px;
  color: var(--cor--branco--principal);
  border: solid 1px var(--cor--azul--principal);
  transition: background-color 0.3s ease;
}

.botao__criptografar:hover {
  background-color: var(--cor--efeito---hover);
  border: solid 1px var(--cor--efeito---hover);
}

.botao__descriptografar {
  width: 50%;
  height: 67px;
  border-radius: 24px;
  background: var(--bg--cinza--botao);
  font-size: 16px;
  color: var(--cor--azul--principal);
  border: solid 1px var(--cor--azul--principal);
  transition: background-color 0.3s ease;
}

.botao__descriptografar:hover {
  background-color: var(--cor--efeito---hover);
  border: solid 1px var(--cor--efeito---hover);
  color: var(--bg--cor);
}

.section__area__retangulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 944px;
  background: var(--cor--branco--principal);
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.sectionn__area__retungulo__imagem {
  width: 336px;
  height: 304px;
}

.section__area__texto {
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 336px;
  height: 122px;
}

.section__area__texto h3,
.section__area__texto p {
  text-align: center;
}

.section__area__resultado {
  text-align: left;
  width: 336px;
}

.section__resultado {
  max-width: inherit;
  word-wrap: break-word;
  font-size: 1rem;
}

.section__area__botao__copiar {
  align-items: center;
  justify-content: center;
  width: 336px;
  height: 67px;
  margin-bottom: 32px;
}

.copiar {
  display: none;
  width: 100%;
  height: 100%;
  color: var(--cor--azul--principal);
  border: solid 1px var(--cor--azul--principal);
  border-radius: 24px;
  transition: background-color 0.3s ease;
}

.copiar:hover {
  background-color: var(--cor--efeito---hover);
  border: solid 1px var(--cor--efeito---hover);
  color: var(--bg--cor);
}

.limpar {
  display: none;
  width: 100%;
  height: 100%;
  color: var(--cor--azul--principal);
  border: solid 1px var(--cor--azul--principal);
  border-radius: 24px;
  transition: background-color 0.3s ease;
}

.limpar:hover {
  background-color: var(--cor--efeito---hover);
  border: solid 1px var(--cor--efeito---hover);
  color: var(--bg--cor);
}

.habilitar {
  display: block;
}

.desabilitar {
  display: none;
}
