@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  list-style: none;

}

:root {
  --cor--texto--principal: #464646;
  --cor--azul--claro: #EAF2FD;
  --cor--cinza--claro: #F5F5F5;
  --cor--branco: #ffffff;
  --cor--azul--botao: #2A7AE4;
}

.menu {
  display: flex;
  height: 50px;
  background: var(--cor--cinza--claro);
  justify-content: space-around;
  align-items: center;
}

.logo__nome {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo__nome img {
  height: 24px;
}

.logo__nome h3 {
  color: var(--cor--texto--principal);
}

.menu__list {
  display: flex;
  gap: 15px;
  list-style: none;
}

.menu__list__item a {
  color: var(--cor--texto--principal);
}

.title {
  display: flex;
  background: var(--cor--cinza--claro);
}

.title__div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.title__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 450px;
}

.title__bio {
  font-size: 42px;
  color: var(--cor--texto--principal);
}

.profile__image {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.title__subsection {
  font-size: 14px;
  font-weight: 500;
  color: var(--cor--texto--principal);
  margin: 15px 0 15px;
}

.title__container ul {
  display: flex;
  gap:32px;
  list-style: none;
}

.title__network__item a {
  color: var(--cor--texto--principal);
}

.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--cor--azul--claro);
  height: 383px;
}

.about {
  display: flex;
  justify-content: start;
  padding-left: 150px;
  max-width: 100%;
}

.about__container {
  width: 50%;
}

.about__title {
  padding: 0 0 25px;
  font-size: 32px;
  color: var(--cor--texto--principal);
}

.about__container p {
  color: var(--cor--texto--principal);
  font-size: 14px;
}

.about__container img {
  width: 150px;
  margin-top: 25px;
}

.Skills,
.hobbies {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background: var(--cor--cinza--claro);
}

.skills__title,
.hobbies__title {
  text-align: center;
  font-size: 32px;
  padding: 32px 0;
  color: var(--cor--texto--principal);
}

.box__container,
.hobbies__liner {
  display: flex;
  width: 1000px;
  margin-bottom: 88px;
  gap: 16px;
}


.skill__box,
.hobbies__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  width: 176px;
  height: 174px;
  padding: 16px;
  background: var(--cor--branco);
}

.skill__box li,
.hobbies__box li {
  font-weight: 500;
}

.skill__box li:nth-child(2) {
  margin-top: 5px; 
}

.academic {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--cor--azul--claro);
  padding-bottom: 82px;
  height: 500px;
}

.academic__title,
.experience__section_title {
  text-align: center;
  font-size: 32px;
  padding: 82px 0 32px 0;
  color: var(--cor--texto--principal);
}

.academic__courses {
  display: flex;
  gap: 16px;
  max-width: 1000px;
}

.academic__courses__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 368px;
  height: 347px;
}

.academic__courses__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--cor--branco);
  height: 286px;
  margin-bottom: 16px
}

.academic__courses__item__title {
  font-weight: 500;
  margin-bottom: 5px;
}

